* {
    background-color: #f0f0f0;
}

body {
    margin: 0;
    padding: 20px;
    height: 100vh;
    width: 100vw;
}

.container {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 5%;
}

div {
    padding: 10px;
    margin: 5px;
}

.color {
    flex: 1 1 50%;
}

#red {
    background-color:#F44336;
}

#blue {
    background-color: #2196F3;;
}

#green {
    background-color: #4CAF50;
}

#yellow {
    background-color: #FFEB3B;
    color: black;
}

#purple {
    background-color: #AA3BFF; 
}

#orange{
    background-color: #FF623B;
}

@media (min-width: 796px) {
    .color {
        flex: 1 1 25%;
    }    
    #green {
        flex: 2 1 50%;
    }
}

@media (min-width: 992px) and (max-width: 1280px) {
    .color {
        flex: 1 1 25%;
    }
    #green {
        flex: 2 1 50%;
    }
}

@media (orientation: landscape) {
    * {
        background-color: aquamarine;
    }

    div {
        padding: 20px;
    }
}


@media (hover: hover) {
    .color:hover {
        background-color: transparent !important;
    }
}